<app-header></app-header>
<div class="bg-gray-100 min-h-screen p-8 relative">
  <h2 class="text-3xl font-bold mb-8 text-center">Le Code du Soldat</h2>

  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <ul>
        <li class="text-gray-700 mb-4 list-disc">Au service de la France, le soldat lui est entièrement dévoué, en tout temps et en tout lieu.</li>
        <li class="text-gray-700 mb-4 list-disc">Il accomplit sa mission avec la volonté de gagner et de vaincre, et si nécessaire au péril de sa vie.</li>
        <li class="text-gray-700 mb-4 list-disc">Maître de sa force, il respecte l’adversaire et veille à épargner les populations.</li>
        <li class="text-gray-700 mb-4 list-disc">Il obéit aux ordres, dans le respect des lois, des coutumes de la guerre et des conventions internationales.</li>
        <li class="text-gray-700 mb-4 list-disc">Il fait preuve d’initiative et s’adapte en toutes circonstances.</li>
        <li class="text-gray-700 mb-4 list-disc">Soldat professionnel, il entretient ses capacités intellectuelles et physiques, et développe sa compétence et sa force morale.</li>
        <li class="text-gray-700 mb-4 list-disc">Attentif aux autres et déterminé à surmonter les difficultés, il œuvre pour la cohésion et le dynamisme de son unité.</li>
        <li class="text-gray-700 mb-4 list-disc">Il est ouvert sur le monde et la société, et en respecte les différences.</li>
        <li class="text-gray-700 mb-4 list-disc">Il s’exprime avec réserve pour ne pas porter atteinte à la neutralité des armées en matière philosophique, politique et religieuse.</li>
        <li class="text-gray-700 mb-4 list-disc">Fier de son engagement, il est toujours et partout, un ambassadeur de son régiment, de l’armée de terre et de la France.</li>
      </ul>
    </div>


    <!--    <div class="bg-white rounded-lg shadow-md p-6">-->
    <!--      <h2 class="text-xl font-semibold mb-4">Coordonnées bancaires</h2>-->
    <!--      <li class="text-gray-700 mb-2">VIREMENT</p>-->
    <!--      <p class="text-gray-700 mb-2">ASS SOUS OFF DE RESERVE DE NANTES</p>-->
    <!--      <p class="text-gray-700 mb-2">LA BANQUE POSTALE 20041 01011 0032756N032 24</p>-->
    <!--      <p class="text-gray-700 mb-2">Iban : FR77 2004 1010 1100 3275 6N03 224</p>-->
    <!--      <p class="text-gray-700 mb-2">Bic : PSSTFRPPNTE</p>-->
    <!--      <p class="text-gray-700 mb-2">CHEQUE A L’ORDRE DE ASOR NANTES</p>-->
    <!--      <p class="text-gray-700 mb-2">Expédition à : ASOR NANTES – BP 20921 – 44009 NANTES CEDEX 1</p>-->
    <!--    </div>-->
  </div>
</div>
<app-footer-view />
