<app-header></app-header>

<div class="bg-gray-100 min-h-screen p-8 relative">
  <h1 class="text-3xl font-bold text-center mb-8">Conditions Générales d'Utilisation (CGU)</h1>

  <div class="max-w-5xl mx-auto grid grid-cols-1 gap-8">
    <!-- Section 1 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border p-6">
      <h2 class="text-xl font-semibold mb-4">1. Objet</h2>
      <p>
        Les présentes Conditions Générales d'Utilisation (CGU) ont pour objet de définir les modalités et conditions
        dans lesquelles les utilisateurs (ci-après "l'Utilisateur") peuvent accéder et utiliser le site web Asor44
        (ci-après "le Site"). En accédant au Site, l'Utilisateur accepte, sans réserve, les présentes CGU.
        L'éditeur du Site se réserve le droit de modifier à tout moment les CGU, et l'Utilisateur est invité à les
        consulter régulièrement.
      </p>
    </div>

    <!-- Section 2 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border p-6">
      <h2 class="text-xl font-semibold mb-4">2. Accès au Site</h2>
      <p>
        Le Site est accessible gratuitement à tout Utilisateur disposant d'un accès à Internet. L'ensemble des coûts
        liés à l'accès au Site, que ce soit les frais matériels, logiciels ou d'accès à Internet, sont à la charge
        de l'Utilisateur. Certaines parties du Site peuvent nécessiter une inscription préalable pour accéder à des
        services spécifiques.
      </p>
    </div>

    <!-- Section 3 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border p-6">
      <h2 class="text-xl font-semibold mb-4">3. Utilisation du Site</h2>
      <p>
        L'Utilisateur s'engage à utiliser le Site conformément aux lois en vigueur et aux présentes CGU. Il est interdit de :
      </p>
      <ul class="list-disc pl-6">
        <li>Publier du contenu illégal, diffamatoire, obscène, offensant ou portant atteinte aux droits d'autrui.</li>
        <li>Tenter d'obtenir un accès non autorisé à une partie du Site.</li>
        <li>Utiliser le Site à des fins commerciales ou publicitaires non autorisées.</li>
      </ul>
      <p class="mt-4">
        L'Utilisateur est responsable de la sécurité de ses identifiants de connexion. Toute action effectuée avec ces
        identifiants sera considérée comme ayant été faite par l'Utilisateur.
      </p>
    </div>

    <!-- Section 4 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border p-6">
      <h2 class="text-xl font-semibold mb-4">4. Données personnelles</h2>
      <p>
        Les données personnelles collectées sur le Site sont traitées conformément à notre <a href="#"
                                                                                              class="text-blue-500 underline">Politique de Confidentialité</a>. L'Utilisateur dispose d'un droit d'accès,
        de rectification et de suppression de ses données conformément à la réglementation applicable. Le Site utilise
        des cookies pour améliorer l'expérience de l'Utilisateur. En naviguant sur le Site, l'Utilisateur accepte
        l'utilisation des cookies conformément à notre <a href="#" class="text-blue-500 underline">Politique sur les Cookies</a>.
      </p>
    </div>

    <!-- Section 5 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border p-6">
      <h2 class="text-xl font-semibold mb-4">5. Propriété intellectuelle</h2>
      <p>
        Tous les éléments du Site (textes, images, graphismes, logos, vidéos, icônes, sons, etc.) sont la propriété
        exclusive de Asor44 ou de ses partenaires, et sont protégés par le droit d'auteur et les lois sur la propriété
        intellectuelle. Toute reproduction, distribution, modification ou utilisation de ces éléments, sans autorisation
        préalable, est strictement interdite.
      </p>
    </div>

    <!-- Section 6 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border p-6">
      <h2 class="text-xl font-semibold mb-4">6. Responsabilité</h2>
      <p>
        L'éditeur du Site ne saurait être tenu responsable des erreurs, omissions ou problèmes techniques pouvant survenir
        sur le Site. L'Utilisateur utilise le Site à ses propres risques. L'Utilisateur est seul responsable des contenus
        qu'il publie sur le Site. En cas de violation des lois ou des présentes CGU, l'éditeur se réserve le droit de
        supprimer tout contenu illicite et de suspendre ou supprimer le compte de l'Utilisateur.
      </p>
    </div>

    <!-- Section 7 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border p-6">
      <h2 class="text-xl font-semibold mb-4">7. Modifications des CGU</h2>
      <p>
        L'éditeur se réserve le droit de modifier, à tout moment et sans préavis, les présentes CGU afin de les adapter
        aux évolutions du Site et/ou de son exploitation. Les modifications prendront effet dès leur publication sur le Site.
      </p>
    </div>

    <!-- Section 8 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border p-6">
      <h2 class="text-xl font-semibold mb-4">8. Loi applicable et juridiction compétente</h2>
      <p>
        Les présentes CGU sont régies par la loi française. En cas de litige et à défaut d'accord amiable, les tribunaux
        compétents seront ceux de la juridiction française.
      </p>
    </div>

    <!-- Section 9 -->
    <div class="bg-white overflow-hidden shadow rounded-lg border p-6">
      <h2 class="text-xl font-semibold mb-4">9. Contact</h2>
      <p>
        Pour toute question ou réclamation concernant l'utilisation du Site, vous pouvez contacter l'éditeur à l'adresse
        suivante : <a href="mailto:contact@orion-solutions-group.com" class="text-blue-500 underline">contact&#64;orion-solutions-group.com</a>.
      </p>
    </div>
  </div>
</div>

<app-footer-view />
