<app-header></app-header>
<div class="bg-gray-100 min-h-screen p-8 relative">
  <h2 class="text-3xl font-bold mb-8 text-center">Asor44</h2>

  <div class="max-w-3xl mx-auto">
    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">Objet</h2>
      <p class="text-gray-700 mb-4">L’Association des Sous-Officiers de Réserve de Nantes a pour objet de regrouper les
        sous-officiers, officiers-mariniers et les militaires du rang ayant à l’issue d’une carrière ou
        du service national quitté le service actif, ainsi que des volontaires, sans expérience
        militaire préalable, souhaitant œuvrer pour un idéal supérieur :</p>
    </div>

    <h2 class="text-3xl font-bold mb-8 text-center">La défense de la patrie</h2>

    <div class="bg-white rounded-lg shadow-md p-6 mb-8">
      <h2 class="text-xl font-semibold mb-4">L' A.S.O.R se propose :</h2>
      <p class="text-gray-700 mb-4">De militer en toute occasion pour les valeurs que ses membres ont servies sous
        l’uniforme.</p>
      <p class="text-gray-700 mb-4">D’inciter dans la mesure de ses moyens, au perfectionnement de l’instruction
        militaire des réserves.</p>
      <p class="text-gray-700 mb-4">De favoriser le maintien en condition de ses membres par la pratique des activités
        servant
        de support aux compétitions de la Confédération ineralliée des sous-officiers de réserve (CISOR
        ex
        AESOR) à savoir : le tir, la natation avec obstacles, le parcours d’obstacles ou du combattant,
        la
        course d’orientation, le lancer de grenades et le cross ou toute épreuve en faisant l’objet.</p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6">
      <h2 class="text-xl font-semibold mb-4">Coordonnées bancaires</h2>
      <p class="text-gray-700 mb-2">VIREMENT</p>
      <p class="text-gray-700 mb-2">ASS SOUS OFF DE RESERVE DE NANTES</p>
      <p class="text-gray-700 mb-2">LA BANQUE POSTALE 20041 01011 0032756N032 24</p>
      <p class="text-gray-700 mb-2">Iban : FR77 2004 1010 1100 3275 6N03 224</p>
      <p class="text-gray-700 mb-2">Bic : PSSTFRPPNTE</p>
      <p class="text-gray-700 mb-2">CHEQUE A L’ORDRE DE ASOR NANTES</p>
      <p class="text-gray-700 mb-2">Expédition à : ASOR NANTES – BP 20921 – 44009 NANTES CEDEX 1</p>
    </div>
  </div>
</div>

<body>
    <div class="bg-gray-100 min-h-screen p-8 relative">
        <h1 class="text-2xl font-bold mb-4 text-center">Objet</h1>


<!--        <div class="max-w-[60%] mx-auto p-6 rounded-lg ">-->
<!--            <div class="flex flex-col">-->
<!--                &lt;!&ndash; Pourquoi &ndash;&gt;-->
<!--                <div class="p-4">-->
<!--                    <p class="mt-4"> L’Association des Sous-Officiers de Réserve de Nantes a pour objet de regrouper les-->
<!--                        sous-officiers, officiers-mariniers et les militaires du rang ayant à l’issue d’une carrière ou-->
<!--                        du service national quitté le service actif, ainsi que des volontaires, sans expérience-->
<!--                        militaire préalable, souhaitant œuvrer pour un idéal supérieur :</p>-->
<!--                </div>-->
<!--                <hr class="border my-4">-->


<!--                <h1 class="text-2xl font-bold mb-4 text-center">La défense de la patrie</h1>-->

<!--                <h2 class="text-2xl font-bold mb-4 text-center">L' A.S.O.R se propose :</h2>-->

<!--                <div class="p-4">-->
<!--                    <p class="mt-4">De militer en toute occasion pour les valeurs que ses membres ont servies sous-->
<!--                        l’uniforme,</p>-->
<!--                </div>-->
<!--                <hr class="border my-4">-->

<!--                <div class="p-4">-->
<!--                    <p class="mt-4">D’inciter dans la mesure de ses moyens, au perfectionnement de l’instruction-->
<!--                        militaire des réserves,</p>-->
<!--                </div>-->
<!--                <hr class="border my-4">-->

                <div class="p-4">
                    <p class="mt-4">De favoriser le maintien en condition de ses membres par la pratique des activités
                        servant
                        de support aux compétitions de la Confédération ineralliée des sous-officiers de réserve (CISOR
                        ex
                        AESOR) à savoir : le tir, la natation avec obstacles, le parcours d’obstacles ou du combattant,
                        la
                        course d’orientation, le lancer de grenades et le cross ou toute épreuve en faisant l’objet,</p>
                </div>
                <hr class="border my-4">

                <div class="p-4">
                    <p class="mt-4">De recruter des sous-officiers, officiers-mariniers, militaires du rang de réserve
                        et
                        cadets, de favoriser l’engagement citoyen des jeunes intéressés par le volontariat, contribuer
                        par tous
                        les moyens appropriés à diffuser et à renforcer l’esprit de défense dans la Nation,</p>
                </div>
                <hr class="border my-4">

                <div class="p-4">
                    <p class="mt-4">De prêter son concours à l’organisation du service de défense et d’inciter ses
                        membres qui
                        sont dégagés des obligations militaires (D.O.M.) à s’intéresser volontairement aux diverses
                        activités de
                        défense du pays,</p>
                </div>
                <hr class="border my-4">

                <div class="p-4">
                    <p class="mt-4">De défendre les intérêts moraux et matériels des sous-officiers, des
                        officiers-mariniers et
                        des militaires du rang de réserve et prendre dans ce dessein toutes initiatives nécessaires,</p>
                </div>
                <hr class="border my-4">

                <div class="p-4">
                    <p class="mt-4">De maintenir et développer entre les membres la fraternelle camaraderie qui doit les
                        unir,
                    </p>
                </div>
                <hr class="border my-4">

                <div class="p-4">
                    <p class="mt-4">De défendre les intérêts et l’image des Armées, de renforcer leur rayonnement et
                        prendre
                        dans ce dessein toutes les initiatives nécessaires, dont celles de s’occuper des jeunes désirant
                        devenir
                        réserviste ou cadet.</p>
                </div>
                <hr class="border my-4">

                <div class="p-4">
                    <p class="mt-4">D’assurer la liaison ou la collaboration entre les amicales ou les associations de
                        réservistes et la FNASOR.
                    </p>
                </div>
                <hr class="border my-4">


            </div>
<!--        </div>-->
<!--    </div>-->
<!--
    <h2 class="partner">Nos partenaires</h2>

    <div style="margin-bottom: 5%;" class="band">
        <div class="item-1">
            <a href="https://metropole.nantes.fr/" class="card">
                <div class="thumb"
                    style="background-image: url(assets/1280px-Nantes_logo.png);background-size: contain;"></div>
            </a>
        </div>
        <div class="item-2">
            <a href="https://www.federation-maginot.com/" class="card">
                <div class="thumb" style="background-image: url(assets/logo-FNAM-1.png); background-size: contain;">
                </div>
            </a>
        </div>
        <div class="item-3">
            <a href="https://www.facebook.com/DefenseOuest/" class="card">
                <div class="thumb" style="background-image: url(assets/Logo-ZDSO.jpg);background-size: contain"></div>
            </a>
        </div>
        <div class="item-4">
            <a href="https://www.ac-nantes.fr/" class="card">
                <div class="thumb"
                    style="background-image: url(assets/logo_academie_pays_loire.png);background-size: contain">
                </div>
            </a>
        </div>
        <div class="item-5">
            <a href="https://www.lafcd.fr/" class="card">
                <div class="thumb" style="background-image: url(assets/Logo_cg_44.png);background-size: contain;"></div>
            </a>
        </div>
        <div class="item-6">
            <a href="https://www.la-france-mutualiste.fr/" class="card">
                <div class="thumb" style="background-image: url(assets/Logo_FCD.png);background-size: contain;"></div>
            </a>
        </div>
        <div class="item-7">
            <a href="https://www.la-france-mutualiste.fr/" class="card">
                <div class="thumb" style="background-image: url(assets/logo_lfm.png);background-size: contain;"></div>
            </a>
        </div>
        <div class="item-8">
            <a href="https://www.paysdelaloire.fr/" class="card">
                <div class="thumb" style="background-image: url(assets/Logo_Région_Pays-de-la-Loire.png);"></div>
            </a>
        </div>
        <div class="item-9">
            <a href="https://www.smlh.fr/" class="card">
                <div class="thumb" style="background-image: url(assets/logo_smlh.jpg);background-size: contain;"></div>
            </a>
        </div>
        <div class="item-10">
            <a href="https://www.vendee.fr/" class="card">
                <div class="thumb" style="background-image: url(assets/logo_vendee_h.png);background-size: contain;">
                </div>
            </a>
        </div>
        <div class="item-11">
            <a href="https://www.ligueouest-fcd.fr/les-clubs.php" class="card">
                <div class="thumb"
                    style="background-image: url(assets/LigueOuestClubsDefense.jpg);background-size: contain;">
                </div>
            </a>
        </div>
        <div class="item-12">
            <a href="https://www.union-federale.com/" class="card">
                <div class="thumb" style="background-image: url(assets/Union-Federale.png);background-size: contain;">
                </div>
            </a>
        </div>
    </div>  -->
</body>
<app-footer-view />
