<app-header></app-header>

<body class="text-center">
  <div class="container mx-auto py-8">
    <div class="grid grid-cols-3">

      <div class="p-4">Nom du grade</div>
      <div class="p-4">Appelation</div>
      <div class="p-4">Épaulettes</div>
    </div>
    <div class="drapeau-francais h-2 w-full"></div>

    <div class="grid">
      <div class="p-4 w-full text-center h-24"><a class="justify-center"><br>Hommes du rang</a></div>
      <div class="drapeau-francais h-2 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Seconde classe</div>
      <div class="p-4"><br>Seconde class / soldat</div>
      <div class="p-4 flex justify-center"> <img src="../../../assets/grades/SDT"></div>

      <div class="p-4">Première classe</div>
      <div class="p-4"><br>Première classe / soldat</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/1CL"></div>

      <div class="p-4"><br>Caporal / Brigadier</div>
      <div class="p-4"><br>Caporal / Brigadier</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/CPL"></div>

      <div class="p-4"><br>Caporal-chef / Brigadier-chef</div>
      <div class="p-4"><br>Caporal-chef / Brigadier-chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/CCH"></div>

      <div class="p-4"><br>Caporal-chef de première classe</div>
      <div class="p-4"><br>Caporal-chef / Brigadier-chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/CC1"></div>

    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center"><a class="justify-center">Sous-officiers subalternes</a></div>
      <div class="drapeau-francais h-2 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Sergent / Maréchal des logis</div>
      <div class="p-4"><br>Sergent / Maréchal des logis</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/SGT"></div>

      <div class="p-4"><br>Sergent-chef / Maréchal des logis-chef</div>
      <div class="p-4"><br>Chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/SCH"></div>

      <div class="p-4"><br>Sergent-chef BM2</div>
      <div class="p-4"><br>Chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/SCHBM2"></div>

    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center"><a class="justify-center">Sous-officiers</a></div>
      <div class="drapeau-francais h-2 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Adjudant</div>
      <div class="p-4"><br>Mon Adjudant <br> Adjudant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/ADJ"></div>

      <div class="p-4"><br>Adjudant-chef</div>
      <div class="p-4"><br>Mon Adjudant-chef <br> Adjudant-chef (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/ADC"></div>

      <div class="p-4"><br>Major</div>
      <div class="p-4"><br>Major</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/MJR"></div>
    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center"><a>Officiers subalternes</a></div>
      <div class="drapeau-francais h-2 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br><br><br>Élêve-officiers</div>
      <div class="p-4"><br><br><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/EO"></div>

      <div class="p-4"><br>Aspirant</div>
      <div class="p-4"><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/ASP"></div>

      <div class="p-4"><br>Sous-lieutenant</div>
      <div class="p-4"><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/SLT"></div>

      <div class="p-4"><br>Lieutenant</div>
      <div class="p-4"><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/LTN"></div>

      <div class="p-4"><br>Capitaine</div>
      <div class="p-4"><br>Mon capitaine <br> Capitaine (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/CNE"></div>
    </div>

    <div class="grid gap-1">

      <div class="p-4 w-full text-center"><a>Officiers supérieurs</a></div>
      <div class="drapeau-francais h-2 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Commandant</div>
      <div class="p-4"><br>Mon commandant <br> Commandant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/CDT"></div>

      <div class="p-4"><br>Lieutenant-colonel</div>
      <div class="p-4"><br>Mon colonel <br> Colonel (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/LCL"></div>

      <div class="p-4"><br>Colonel</div>
      <div class="p-4"><br>Mon colonel <br> Colonel (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/COL"></div>

    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center"><a>Officiers généraux</a></div>
      <div class="drapeau-francais h-2 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4">Général de brigade</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/GBR"></div>

      <div class="p-4">Général de division</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/GDI"></div>

      <div class="p-4">Général de corps d'armée</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/GCA"></div>

      <div class="p-4">Général d'armée</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/GA"></div>

    </div>

  </div>
</body>

<app-footer-view />

<style>
  .drapeau-francais {
    background: linear-gradient(to right, #0055A4, #ffffff, #ffffff, #EF4135);
    margin-top: -10px;
  }
</style>