<app-header />
<div class="items-center flex flex-col">
    <h1 class="text-5xl font-bold mb-6 text-center">Les décorations</h1>
    <div class="drapeau-francais h-2 w-1/2 justify-center"></div>

    <h2 class="text-3xl font-bold mb-6 text-center">Les ordres nationaux</h2>
    <div class="drapeau-francais h-2 w-1/2 justify-center"></div>
</div>

<div class="w-full  flex flex-col items-center">

    <h3 class="text-xl font-bold mb-6 text-center">L'ordre national de la légion d'honneur</h3>

    <div class="flex justify-center mb-6 w-full">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">La légion d'honneur</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div>
    <h3 class="text-xl font-bold mb-6 text-center">L'ordre de la libération</h3>


    <div class="flex justify-center gap-6 w-1/2 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Croix de la libération</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 2">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille de la résistance</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 3">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div>
    <h3 class="text-xl font-bold mb-6 text-center">L'ordre national du mérite</h3>

    <div class="flex justify-center mb-6 w-full">
        <div class="max-w-xs mx-auto text-center">
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div>
    <h2 class="text-3xl font-bold mb-6 text-center">Les décorations militaires</h2>
    <div class="drapeau-francais h-2 w-1/2"></div>


    <div class="flex justify-center mb-6 w-full">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">La médaille militaire</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div>
    <h3 class="text-xl font-bold mb-6 text-center">Les croix</h3>
    <div class="drapeau-francais h-2 w-1/2"></div>

    <div class="flex justify-center mb-6 w-1/2">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">14-18</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">39-45</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">T.O.E</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Valeur militaire</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
    </div>


    <div class="drapeau-francais h-2 w-1/2"></div>
    <h2 class="text-3xl font-bold mb-6 text-center">Les croix du combattant</h2>
    <div class="drapeau-francais h-2 w-1/2"></div>

    <div class="flex justify-center mb-6 w-1/2">

        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Volontaire 14-18</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Volontaire de la résistance</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Volontaire</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Croix du combattant</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div>
    <h3 class="text-xl font-bold mb-6 text-center">Les médailles</h3>
    <div class="drapeau-francais h-2 w-1/2"></div>


    <div class="flex justify-center mb-6 w-1/2">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille des évadés</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille de la gendarmerie</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Médaille de l'aéronautique</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div>
    <h3 class="text-xl font-bold mb-6 text-center">Les distinctions militaires pour services particuliers</h3>


    <div class="flex justify-center gap-6 w-1/2 mb-6">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">La médaille d'honneur </a>
            <a class="font-bold mb-2 block"> du service de santé des armées</a>

            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 2">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block"> <br>Opération sentinelle </a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 3">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div>
    <h3 class="text-xl font-bold mb-6 text-center">La médaille de la défense nationale</h3>
    <div class="drapeau-francais h-2 w-1/2"></div>


    <div class="flex justify-center mb-6 w-1/2">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Or</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Argent</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Bronze</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div>
    <h3 class="text-xl font-bold mb-6 text-center">La médaille du service militaires volontaires</h3>
    <div class="drapeau-francais h-2 w-1/2"></div>


    <div class="flex justify-center mb-6 w-1/2">
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Or</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Argent</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
        <div class="max-w-xs mx-auto text-center">
            <a class="font-bold mb-2 block">Bronze</a>
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
    </div>

    <div class="drapeau-francais h-2 w-1/2"></div>
    <h3 class="text-xl font-bold mb-6 text-center">La médaille d'outre-mer</h3>

    <div class="flex justify-center mb-6 w-full">
        <div class="max-w-xs mx-auto text-center">
            <img class="rounded-lg shadow-lg" src="https://via.placeholder.com/200" alt="Image 1">
        </div>
    </div>



</div>


<app-footer-view />

<style>
    .drapeau-francais {
        background: linear-gradient(to right, #0055A4, #ffffff, #ffffff, #EF4135);
        height: 3px;
    }
</style>