body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.drapeau_francais_blanc {
    background: #FFFFFF;
    width: 100%;
  }
  
  .drapeau_francais_rouge {
    background: #EF4135;
    width: 100%;
  }
  
  .drapeau_francais_rouge_gradient {
    background: linear-gradient(to right, #FFFFFF, #EF4135);
    width: 50%;
  }
  
  .drapeau_francais_bleu_gradient {
    background: linear-gradient(to right, #0055A4, #FFFFFF);
    width: 50%;
  }
  
  .drapeau_francais_bleu {
    background: #0055A4;
    width: 100%;
  }
  
  .drapeau_haut {
    display: flex;
    height: 10px;
  }
  
  .drapeau_bas {
    display: flex;
    height: 3px;
  }