<!DOCTYPE html>
<html>

<head>
  <title>Mon Site Web</title>

</head>

<body>
  <header>
    <div class="header_pc">
      <div class="w-full flex items-center">
        <img src="./assets/logo-asor44.png" alt="Logo asor44" class="logo_asor">
        <div class="w-full py-8">
          <h1 class="w-full text-center text-5xl">Association des Sous-Officiers de Reserve de Nantes</h1>
          <h2 class="w-full text-center text-3xl pt-4">A.S.O.R. 44</h2>
        </div>
      </div>
      <a href="/login">
        <div class="div_header">
          <img src="./assets/log_fond_remove.png" alt="Logo_connection" class="logo_connection">
        </div>
      </a>
    <div class="div_header">
      <p class="info_login hidden_pc">sous-officier</p>
      <p class="info_login hidden_pc">Erwan Nilseg</p>
    </div>
    </div>
  </header>


  <nav>

    <ul class="header_ul">
      <li class="header_li"><a href="/home">Accueil</a></li>
      <li class="header_li"><a href="#">A.S.O.R. 44</a></li>
      <li class="header_li"><a href="/acadef">Activités</a></li>
      <li class="header_li"><a href="https://garde-nationale.gouv.fr/">La réserve nationale</a></li>
      <li class="header_li"><a href="#">Informations militaires</a></li>
      <li class="header_li"><a href="/singings">Divers</a></li>
      <li class="header_li"><a href="/contact">Contact</a></li>
      <li class="header_li"><a href="/help-us">Nous aider</a></li>
      <li class="header_li"><a href="#">Recherche</a></li>
    </ul>
    <div class="drapeau_bas">
      <div class="drapeau_francais_bleu"></div>
      <div class="drapeau_francais_bleu_gradient"></div>
      <div class="drapeau_francais_blanc"></div>
      <div class="drapeau_francais_rouge_gradient"></div>
      <div class="drapeau_francais_rouge"></div>
    </div>
  </nav>
</body>

</html>
