<!DOCTYPE html>
<html>

<head>
  <title>Mon Site Web</title>

</head>

<body>
  <header>
    <h1 class="asor44">A. S. O. R. 44</h1>
  </header>


  <nav>
    <div class="drapeau_haut">
      <div class="drapeau_francais_bleu"></div>
      <div class="drapeau_francais_bleu_gradient"></div>
      <div class="drapeau_francais_blanc"></div>
      <div class="drapeau_francais_rouge_gradient"></div>
      <div class="drapeau_francais_rouge"></div>
    </div>
    <ul class="header_ul">
      <li class="header_li"><a href="#">Accueil</a></li>
      <li class="header_li"><a href="#">A.S.O.R44</a></li>
      <li class="header_li"><a href="#">Activités</a></li>
      <li class="header_li"><a href="#">La réserve nationale</a></li>
      <li class="header_li"><a href="#">Informations militaires</a></li>
      <li class="header_li"><a href="#">Divers</a></li>
      <li class="header_li"><a href="#">Contact</a></li>
      <li class="header_li"><a href="#">Recherche</a></li>
    </ul>
    <div class="drapeau_bas">
      <div class="drapeau_francais_bleu"></div>
      <div class="drapeau_francais_bleu_gradient"></div>
      <div class="drapeau_francais_blanc"></div>
      <div class="drapeau_francais_rouge_gradient"></div>
      <div class="drapeau_francais_rouge"></div>
    </div>
  </nav>
</body>