<app-header></app-header>

<body>
<div style="margin-top: 3%;">
  <h2 class="partner">Nos Articles</h2>
  <div class="band">
  <div class="item-1">
    <a href="https://asor44.fr/il-y-a-80-ans-les-bombardements-de-nantes/" class="card">
      <div class="thumb" style="background-image: url(assets/porte_drapeau_cim.jpg);"></div>
      <article>
        <h1>Il y a 80 ans : Les bombardements de Nantes...</h1>
        <p>Détuisaient, les 16 et 23 septembre 1943, le centre de la ville et occasionnant 1 463 tués et plus de 2 500 blessés... </p>
        <span>Publié le 17 septembre 2023</span>
      </article>
    </a>
  </div>
  <div class="item-2">
    <a href="https://asor44.fr/le-recrutement-2023-2024-est-clos/" class="card">
      <div class="thumb" style="background-image: url(assets/beymedias.brightspotcdn.jpg);"></div>
      <article>
        <h1>Le recrutement 2023 - 2024 est clos</h1>
        <p>Le succès entraine une forte demande à laquelle l'Académie des cadets de la défense de Nantes ne peut répondre
        Seulement une cinquantaine de volontaire, aidés par les cadets...
        </p>
        <span>Publié le 2 septembre 2023</span>
      </article>
    </a>
  </div>
  <div class="item-3">
    <a href="https://asor44.fr/la-resistance-vendeenne-honoree/" class="card">
      <div class="thumb" style="background-image: url(assets/IMG_0710-768x1024.jpeg);"></div>
      <article>
        <h1>La Résistance vendéenne honorée</h1>
        <p>Le 30 août, à Dompierre-sur-Yon, à été commémoré le 79e anniversaire des parachutages au profit du Maquis R1 sous la présidence de M.
        François Gillet, maire et des élus. Les livraison...</p>
        <span>Publié le 31 aout 2023</span>
      </article>
    </a>
  </div>
  <div class="item-4">
    <a href="https://asor44.fr/vertou-commemore-la-liberation/" class="card">
      <div class="thumb" style="background-image: url(assets/IMG_2720-1024x768.jpg);"></div>
      <article>
        <h1>Vertou commémore sa Libération</h1>
        <p>A l'invitation de M. Rodolphe Amailland, Maire et Conseiller départemental, cette commune du Sud-Loire a célébré sa libération intervenue fin aout 1944.
        Outre les élus et...</p>
        <span>Publié le 30 aout 2023</span>
      </article>
    </a>
  </div>
  <div class="item-5">
    <a href="https://asor44.fr/il-y-a-79-ans/" class="card">
      <div class="thumb" style="background-image: url(assets/IMG_2163-1536x748.jpg);"></div>
      <article>
        <h1>Il y a 79 ans...</h1>
        <p>Le 12 aout 1994, dans le pronlogement du débarquement du 6 juin en Normandie, Nantes a été libérée par les forces américaine. La
        ville, avant leur débart vers le Sud-Loire,...</p>
        <span>Publié le 13 aout 2023</span>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="https://asor44.fr/il-y-a-79-ans/" class="card">
      <div class="thumb" style="background-image: url(assets/IMG_2163-1536x748.jpg);"></div>
      <article>
        <h1>Il y a 79 ans...</h1>
        <p>Le 12 aout 1994, dans le pronlogement du débarquement du 6 juin en Normandie, Nantes a été libérée par les forces américaine. La
          ville, avant leur débart vers le Sud-Loire,...</p>
        <span>Publié le 13 aout 2023</span>
      </article>
    </a>
  </div>
  <div class="item-7">
    <a href="https://asor44.fr/il-y-a-79-ans/" class="card">
      <div class="thumb" style="background-image: url(assets/IMG_2163-1536x748.jpg);"></div>
      <article>
        <h1>Il y a 79 ans...</h1>
        <p>Le 12 aout 1994, dans le pronlogement du débarquement du 6 juin en Normandie, Nantes a été libérée par les forces américaine. La
          ville, avant leur débart vers le Sud-Loire,...</p>
        <span>Publié le 13 aout 2023</span>
      </article>
    </a>
  </div>

<!--  <div class="item-6">-->
<!--    <a href="https://photography.tutsplus.com/articles/5-inspirational-business-portraits-and-how-to-make-your-own&#45;&#45;cms-27338" class="card">-->
<!--      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);"></div>-->
<!--      <article>-->
<!--        <h1>5 Inspirational Business Portraits and How to Make Your Own</h1>-->

<!--        <span>Marie Gardiner</span>-->
<!--      </article>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="item-7">-->
<!--    <a href="https://webdesign.tutsplus.com/articles/notes-from-behind-the-firewall-the-state-of-web-design-in-china&#45;&#45;cms-22281" class="card">-->
<!--      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>-->
<!--      <article>-->
<!--        <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>-->
<!--        <span>Kendra Schaefer</span>-->
<!--      </article>-->
<!--    </a>-->
<!--  </div>-->
</div>
</div>

<h2 class="partner">Nos partenaires</h2>

<div class="band">
  <div class="item-2">
    <a href="https://metropole.nantes.fr/" class="card">
      <div class="thumb" style="background-image: url(assets/1280px-Nantes_logo.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-2">
    <a href="https://www.federation-maginot.com/" class="card">
      <div class="thumb" style="background-image: url(assets/logo-FNAM-1.png); background-size: contain;"></div>
    </a>
  </div>
  <div class="item-3">
    <a href="https://www.facebook.com/DefenseOuest/" class="card">
      <div class="thumb" style="background-image: url(assets/Logo-ZDSO.jpg);background-size: contain"></div>
    </a>
  </div>
  <div class="item-4">
    <a href="https://www.ac-nantes.fr/" class="card">
      <div class="thumb" style="background-image: url(assets/logo_academie_pays_loire.png);background-size: contain"></div>
    </a>
  </div>
  <div class="item-5">
    <a href="https://www.lafcd.fr/" class="card">
      <div class="thumb" style="background-image: url(assets/Logo_cg_44.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-6">
    <a href="https://www.la-france-mutualiste.fr/" class="card">
      <div class="thumb" style="background-image: url(assets/Logo_FCD.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-7">
    <a href="https://www.la-france-mutualiste.fr/" class="card">
      <div class="thumb" style="background-image: url(assets/logo_lfm.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-8">
    <a href="https://www.paysdelaloire.fr/" class="card">
      <div class="thumb" style="background-image: url(assets/Logo_Région_Pays-de-la-Loire.png);"></div>
    </a>
  </div>
  <div class="item-9">
    <a href="https://www.smlh.fr/" class="card">
      <div class="thumb" style="background-image: url(assets/logo_smlh.jpg);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-10">
    <a href="https://www.vendee.fr/" class="card">
      <div class="thumb" style="background-image: url(assets/logo_vendee_h.png);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-11">
    <a href="https://www.ligueouest-fcd.fr/les-clubs.php" class="card">
      <div class="thumb" style="background-image: url(assets/LigueOuestClubsDefense.jpg);background-size: contain;"></div>
    </a>
  </div>
  <div class="item-12">
    <a href="https://www.union-federale.com/" class="card">
      <div class="thumb" style="background-image: url(assets/Union-Federale.png);background-size: contain;"></div>
    </a>
  </div>


</div>


<!-- component -->
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<footer style="margin-top: 5%;" class="relative bg-blueGray-200 pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl fonat-semibold text-blueGray-700">A.S.O.R. 44</h4>
        <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6">
          <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button"><i class="fab fa-twitter"></i></button><button class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
          <i class="fab fa-facebook-square"></i></button><button class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
          <i class="fab fa-instagram"></i></button>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Liens utiles</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/presentation?ref=njs-profile">Devenir réserviste</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://blog.creative-tim.com?ref=njs-profile">Asor44</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.github.com/creativetimofficial?ref=njs-profile">Partenaires</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Divers</a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Autre Resources</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-profile">CGU</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/terms?ref=njs-profile">Termes &amp; Conditions</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/privacy?ref=njs-profile">Politique de confidentialité</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm" href="https://creative-tim.com/contact-us?ref=njs-profile">Nous contacter</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          Copyright ©<span id="get-current-year">2023</span><a href="https://www.creative-tim.com/product/notus-js" class="text-blueGray-500 hover:text-gray-800" target="_blank"> Asor44 by </a>
          <a href="https://www.creative-tim.com?ref=njs-profile" class="text-blueGray-500 hover:text-blueGray-800">Epitech</a>
        </div>
      </div>
    </div>
  </div>
</footer>




