<app-header></app-header>

<body class="text-center">
  <div class="bg-gray-100 min-h-screen p-8">
    <div class="max-w-[60%] mx-auto p-6 rounded-lg">
      <h1 class="text-2xl font-bold mb-4 text-center">Les grades des armées</h1>
      <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4">
        <div class="w-full sm:w-1/2">
          <div class="p-4">
            <label for="army" class="block text-sm font-medium text-gray-700">Armée</label>
            <select id="army" name="army" [(ngModel)]="selectedArmy" (change)="selectArmy($event.target.value)"
              class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
              <option value="default" selected="selected">Sélectionnez une armée</option>
              <option *ngFor="let army of armeeType" [value]="army.name">{{ army.name }}</option>
            </select>
          </div>
        </div>

        <div class="flex flex-col w-full">
          <div *ngIf="filteredArmy && selectedArmy !== 'default'; else defaultText">
            <div class="mx-4">
              <div *ngFor="let categorie of filteredArmy.categories; let i = index">
                <h2 class="text-xl font-bold mb-2">{{ categorie.title }}</h2>
                <div *ngFor="let grade of categorie.grades; let j = index" class="border-b border-gray-300 mb-4 pb-2">
                  <div class="text-lg font-semibold">{{ grade.name }}</div>
                  <div class="text-sm">{{ grade.appelation }}</div>
                  <div class="mt-2">
                    <img [src]="grade.image" alt="{{ grade.name }}" class="h-12">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ng-template #defaultText>
            <div class="entry-content">
              <div class="titre">Le chant est partie intégrante de la tradition.</div>
              <div class="text2">
                « Le chant ne permet pas seulement d’entretenir le culte de nos souvenirs militaires,<br>
                il est aussi un élan et un stimulant. » (TTA 107)
                <p></p>
                <p>
                  « <i>
                    A la différence du chant de popote où la gaieté, la fronde et l’humour se répondent,<br>
                    du chant de bivouac aux accents parfois nostalgiques, toujours sentimentaux,<br>
                    le chant de marche a pour quadruple but <br>
                    de soutenir les énergies,<br>
                    d’affirmer la cadence,<br>
                    de fondre quarante timbres en un seul chant éveillant en chacun le sens profond de la collectivité<br>
                    et de donner à la superbe d’une troupe en mouvement un prolongement sonore qui la valorise
                  </i> ».
                </p>
                <p>
                  Le chant est la première manifestation de la cohésion d’un groupe.<br>
                  Il concrétise l’esprit d’équipe et exprime la force morale de l’unité dont il reflète l’âme.
                </p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</body>


  <!--
  <div class="container mx-auto py-8">
    <h1> Armée de terre</h1>
    <div class="grid grid-cols-3">
      <div class="p-4 text-3xl">Nom du grade</div>
      <div class="p-4 text-3xl">Appelation</div>
      <div class="p-4 text-3xl">Épaulettes</div>
    </div>
    <div class="drapeau-francais h-1 w-full"></div>

    <div class="grid">
      <div class="p-4 w-full text-center h-24"><a class="justify-center text-2xl"><br>Hommes du rang</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Seconde classe</div>
      <div class="p-4"><br>Seconde class / soldat</div>
      <div class="p-4 flex justify-center"> <img src="../../../assets/grades/terre/SDT"></div>

      <div class="p-4"><br>Première classe</div>
      <div class="p-4"><br>Première classe / soldat</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/1CL"></div>

      <div class="p-4"><br>Caporal / Brigadier</div>
      <div class="p-4"><br>Caporal / Brigadier</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/CPL"></div>

      <div class="p-4"><br>Caporal-chef / Brigadier-chef</div>
      <div class="p-4"><br>Caporal-chef / Brigadier-chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/CCH"></div>

      <div class="p-4"><br>Caporal-chef de première classe</div>
      <div class="p-4"><br>Caporal-chef / Brigadier-chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/CC1"></div>

    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center"><a class="justify-center text-2xl">Sous-officiers subalternes</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Sergent / Maréchal des logis</div>
      <div class="p-4"><br>Sergent / Maréchal des logis</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/SGT"></div>

      <div class="p-4"><br>Sergent-chef / Maréchal des logis-chef</div>
      <div class="p-4"><br>Chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/SCH"></div>

      <div class="p-4"><br>Sergent-chef BM2</div>
      <div class="p-4"><br>Chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/SCHBM2"></div>

    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center"><a class="justify-center text-2xl">Sous-officiers</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Adjudant</div>
      <div class="p-4"><br>Mon Adjudant <br> Adjudant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/ADJ"></div>

      <div class="p-4"><br>Adjudant-chef</div>
      <div class="p-4"><br>Mon Adjudant-chef <br> Adjudant-chef (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/ADC"></div>

      <div class="p-4"><br>Major</div>
      <div class="p-4"><br>Major</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/MJR"></div>
    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center text-2xl"><a>Officiers subalternes</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br><br><br>Élêve-officiers</div>
      <div class="p-4"><br><br><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/EO"></div>

      <div class="p-4"><br>Aspirant</div>
      <div class="p-4"><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/ASP"></div>

      <div class="p-4"><br>Sous-lieutenant</div>
      <div class="p-4"><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/SLT"></div>

      <div class="p-4"><br>Lieutenant</div>
      <div class="p-4"><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/LTN"></div>

      <div class="p-4"><br>Capitaine</div>
      <div class="p-4"><br>Mon capitaine <br> Capitaine (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/CNE"></div>
    </div>

    <div class="grid gap-1">

      <div class="p-4 w-full text-center text-2xl"><a>Officiers supérieurs</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Commandant</div>
      <div class="p-4"><br>Mon commandant <br> Commandant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/CDT"></div>

      <div class="p-4"><br>Lieutenant-colonel</div>
      <div class="p-4"><br>Mon colonel <br> Colonel (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/LCL"></div>

      <div class="p-4"><br>Colonel</div>
      <div class="p-4"><br>Mon colonel <br> Colonel (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/COL"></div>

    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center text-2xl"><a>Officiers généraux</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4">Général de brigade</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/GBR"></div>

      <div class="p-4">Général de division</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/GDI"></div>

      <div class="p-4">Général de corps d'armée</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/GCA"></div>

      <div class="p-4">Général d'armée</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/terre/GA"></div>

    </div>

  </div>
  <div class="drapeau-francais h-2 w-full"></div>


  <div class="container mx-auto py-8">
    <h1 class="text-4xl"> Marine nationale</h1><br>
    <div class="grid grid-cols-3">
      <div class="p-4 text-3xl">Nom du grade</div>
      <div class="p-4 text-3xl">Appelation</div>
      <div class="p-4 text-3xl">Épaulettes</div>
    </div>
    <div class="drapeau-francais h-1 w-full"></div>

    <div class="grid">
      <div class="p-4 w-full text-center h-24"><a class="justify-center text-2xl"><br>Équipage</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Seconde classe</div>
      <div class="p-4"><br>Seconde class / soldat</div>
      <div class="p-4 flex justify-center"> <img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Première classe</div>
      <div class="p-4"><br>Première classe / soldat</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Caporal / Brigadier</div>
      <div class="p-4"><br>Caporal / Brigadier</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Caporal-chef / Brigadier-chef</div>
      <div class="p-4"><br>Caporal-chef / Brigadier-chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Caporal-chef de première classe</div>
      <div class="p-4"><br>Caporal-chef / Brigadier-chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center"><a class="justify-center text-2xl">Sous-officiers subalternes</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Sergent / Maréchal des logis</div>
      <div class="p-4"><br>Sergent / Maréchal des logis</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Sergent-chef / Maréchal des logis-chef</div>
      <div class="p-4"><br>Chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Sergent-chef BM2</div>
      <div class="p-4"><br>Chef</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center"><a class="justify-center text-2xl">Sous-officiers</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Adjudant</div>
      <div class="p-4"><br>Mon Adjudant <br> Adjudant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Adjudant-chef</div>
      <div class="p-4"><br>Mon Adjudant-chef <br> Adjudant-chef (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Major</div>
      <div class="p-4"><br>Major</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>
    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center text-2xl"><a>Officiers subalternes</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br><br><br>Élêve-officiers</div>
      <div class="p-4"><br><br><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Aspirant</div>
      <div class="p-4"><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Sous-lieutenant</div>
      <div class="p-4"><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Lieutenant</div>
      <div class="p-4"><br>Mon lieutenant <br> Lieutenant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Capitaine</div>
      <div class="p-4"><br>Mon capitaine <br> Capitaine (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>
    </div>

    <div class="grid gap-1">

      <div class="p-4 w-full text-center text-2xl"><a>Officiers supérieurs</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4"><br>Commandant</div>
      <div class="p-4"><br>Mon commandant <br> Commandant (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Lieutenant-colonel</div>
      <div class="p-4"><br>Mon colonel <br> Colonel (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4"><br>Colonel</div>
      <div class="p-4"><br>Mon colonel <br> Colonel (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

    </div>
    <div class="grid gap-1">

      <div class="p-4 w-full text-center text-2xl"><a>Officiers généraux</a></div>
      <div class="drapeau-francais h-1 w-full"></div>

    </div>

    <div class="grid grid-cols-3">

      <div class="p-4">Général de brigade</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4">Général de division</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4">Général de corps d'armée</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

      <div class="p-4">Général d'armée</div>
      <div class="p-4">Mon général <br> Général (Féminin)</div>
      <div class="p-4 flex justify-center"><img src="../../../assets/grades/marine/"></div>

    </div>

  </div>
</body>
-->
  <app-footer-view />

  <style>
    .drapeau-francais {
      background: linear-gradient(to right, #0055A4, #ffffff, #ffffff, #EF4135);
      margin-top: -10px;
    }
  </style>