<app-header></app-header>

<body class="bg-gray-100 min-h-screen p-8 relative text-center flex items-center justify-center">

    <div class="container mx-auto text-left">

        <h1 class="text-3xl font-semibold text-center">ASSOCIATION DES SOUS-OFFICIERS DE RÉSERVE DE NANTES</h1>
        <h2 class="text-lg text-center">14, rue des Rochettes – 44000 NANTES</h2>
        <h2 class="text-lg text-center">B.P. 20 921 – 44 009 NANTES CEDEX 1</h2>
        <br>

        <div class="drapeau-francais h-1 w-full mt-4"></div>

        <h1 class="text-3xl font-semibold mt-8 text-center">STATUTS</h1>
        <h2 class="text-xl font-semibold text-center">(modifiés par l’Assemblée Générale Extraordinaire du 13 mars 2016)</h2>
        <br>

        <div class="drapeau-francais h-1 w-full mt-4 mb-8"></div>

        <div class="grid grid-cols-1 gap-8 max-w-4xl mx-auto">

            <!-- Article 1 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 1er - Nom – Siège social</h3>
                <p>Il est constitué sous le régime de la loi du 1er juillet 1901, une association qui prend le nom d’ASSOCIATION des SOUS-OFFICIERS de RESERVE de NANTES.</p>
                <p>Son siège est au 14, rue des Rochettes – 44000 Nantes (BP 20921 – 44009 Nantes cedex 1).</p>
                <p>Son transfert en un autre lieu peut être décidé par le Comité directeur.</p>
                <p>La durée de l’association est illimitée.</p>
            </div>

            <!-- Article 2 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 2 – Objet</h3>
                <p>L’Association des Sous-Officiers de Réserve de Nantes est une association interarmées de réservistes et anciens réservistes, des armées de Terre, de l’Air, de la Marine, des Services communs et de la Gendarmerie.</p>
                <p>Elle a pour objet de regrouper des sous-officiers, des officiers-mariniers, des officiers anciens sous-officiers, des militaires du rang, des cadets et toute personne désireuse de servir la défense du pays et fidèle à nos valeurs, qui adhèrent aux présents statuts.</p>

                <ul class="list-disc pl-5">
                    <li>Militer en toute occasion pour les valeurs que ses membres ont servies sous l’uniforme.</li>
                    <li>Inciter, dans la mesure de ses moyens, au perfectionnement de l’instruction militaire des réserves.</li>
                    <li>Favoriser le maintien en condition de ses membres par la pratique des activités servant de support aux compétitions de la Confédération interalliée des sous-officiers de réserve.</li>
                    <li>Recruter des sous-officiers, officiers-mariniers, militaires du rang de réserve et cadets.</li>
                    <li>Prêter son concours à l’organisation du service de défense.</li>
                    <li>Défendre les intérêts moraux et matériels des sous-officiers, officiers-mariniers, militaires du rang de la réserve.</li>
                    <li>Maintenir et développer entre les membres la fraternelle camaraderie.</li>
                    <li>Renforcer l’image des Armées et prendre des initiatives pour s’occuper des jeunes désirant devenir réservistes ou cadets.</li>
                    <li>Assurer la liaison ou la collaboration entre les amicales ou les associations de réservistes et la FNASOR.</li>
                </ul>
            </div>

            <!-- Article 3 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 3 – Principes de fonctionnement – discipline</h3>
                <p>Toutes discussions politiques, religieuses ou de personnes sont interdites au sein de l’association.</p>
                <p>Tout membre qui porterait gravement atteinte à l’image de l’association ou de l’armée peut être suspendu à titre conservatoire par le président.</p>
                <p>L’association s’engage à respecter les droits de la défense et garantir son fonctionnement démocratique.</p>
            </div>

            <!-- Article 4 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 4 – Adhésion de l’association</h3>
                <p>L’association des Sous-Officiers de Réserve de Nantes adhère à la Fédération Nationale des Associations de Sous-Officiers de Réserve (FNASOR) et à la Fédération Française de Course d’Orientation (FFCO).</p>
                <p>Elle peut adhérer à toute autre fédération nationale ou association après approbation par l’assemblée générale.</p>
            </div>

            <!-- Article 5 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 5 – Administration – Comité directeur</h3>
                <p>L’association est administrée par un Comité directeur composé, au moins, de 12 membres élus par l’assemblée générale pour une durée de quatre années.</p>
                <p>Le Comité directeur élit un président, vice-président, secrétaire, trésorier, secrétaire adjoint et trésorier adjoint parmi ses membres.</p>
            </div>

            <!-- Article 6 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 6 – Présidence – Présidence d’honneur</h3>
                <p>Le Président doit être obligatoirement sous-officier ou officier-marinier de réserve.</p>
                <p>En cas d’empêchement de la présidence, les fonctions sont provisoirement exercées par le vice-président ou, si nécessaire, par le secrétaire.</p>
                <p>Le titre de président d’honneur peut-être attribué aux anciens présidents.</p>
            </div>

            <!-- Article 7 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 7 – Fonctionnement du comité directeur</h3>
                <p>Le Comité directeur peut accepter des adhérents souhaitant œuvrer et prendre des responsabilités.</p>
                <p>Il peut également nommer des délégués pour des missions déterminées.</p>
            </div>

            <!-- Article 8 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 8 – Assemblée générale</h3>
                <p>L’assemblée générale est constituée par tous les membres associés et se réunit une fois par an.</p>
                <p>Les décisions sont prises à la majorité, et chaque membre peut se faire représenter par un autre membre.</p>
            </div>

            <!-- Article 9 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 9 – Cotisation</h3>
                <p>Tous les membres de l’association paient une cotisation fixée chaque année par l’assemblée générale.</p>
                <p>Le comité directeur peut décider de réduire ou d’offrir la cotisation annuelle pour services exceptionnels rendus à l’association.</p>
            </div>

            <!-- Article 10 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 10 – Dissolution</h3>
                <p>La dissolution ne peut être prononcée que par une assemblée générale spéciale, par une majorité des deux tiers des membres.</p>
            </div>

            <!-- Article 11 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 11 – Principe du bénévolat</h3>
                <p>Les attributions et pouvoirs sont exercés bénévolement.</p>
            </div>

            <!-- Article 12 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 12 – Règlement intérieur</h3>
                <p>Un règlement intérieur complète les présents statuts.</p>
            </div>

            <!-- Article 13 -->
            <div class="p-4 bg-white rounded-lg shadow-md">
                <h3 class="font-semibold">Article 13 – Dispositions finales</h3>
                <p>Ces statuts remplacent et annulent les statuts précédents du 17 décembre 1978, modifiés les 27 septembre 1987, 3 décembre 1989, 31 janvier 1999, 16 février 2003, 1er février 2004 et 13 mars 2016.</p>
            </div>
        </div>

    </div>
</body>

<app-footer-view></app-footer-view>
