<div class="bg-white flex justify-center items-center h-screen">
  <!-- Left: Image -->
  <div class=" h-screen hidden lg:block">
    <img src="assets/2021_05_09_PHOTO_COMMEMORATION-8-MAI-©-DR-4.jpg" alt="Placeholder Image" class="object-cover w-full h-full">
  </div>

  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <h1 class="text-2xl font-semibold mb-4">Contact</h1>
    <form action="mailto:votreadresse@email.com" method="post" enctype="text/plain">
      <div class="mb-4">
        <label for="nom" class="block text-sm font-medium text-gray-700">Nom :</label>
        <input type="text" id="nom" name="nom" required class="mt-1 p-2 block w-full border-gray-300 rounded-md">
      </div>

      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Adresse mail :</label>
        <input type="email" id="email" name="email" required class="mt-1 p-2 block w-full border-gray-300 rounded-md">
      </div>

      <div class="mb-4">
        <label for="message" class="block text-sm font-medium text-gray-700">Message :</label>
        <textarea id="message" name="message" rows="4" cols="50" required class="mt-1 p-2 block w-full border-gray-300 rounded-md"></textarea>
      </div>

      <div class="mb-4">
        <input type="submit" value="Envoyer" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 cursor-pointer">
      </div>
    </form>
    <!-- Sign up  Link -->
    <div class="mt-6 text-blue-500 text-center">
      <a href="#" class="hover:underline">Sign up Here</a>
    </div>
  </div>

</div>
