<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
</head>

<body>

    <h1>Contactez-nous</h1>

    <div class="drapeau">
        <div class="drapeau_francais_bleu"></div>
        <div class="drapeau_francais_bleu_gradient"></div>
        <div class="drapeau_francais_blanc"></div>
        <div class="drapeau_francais_rouge_gradient"></div>
        <div class="drapeau_francais_rouge"></div>
    </div>

    <div class="div_form">

        <form action="mailto:votreadresse@email.com" method="post" enctype="text/plain">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required><br>

            <label for="email">Adresse mail :</label>
            <input type="email" id="email" name="email" required><br>

            <label for="message">Message :</label><br>
            <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>

            <input type="submit" value="Envoyer">
        </form>
    </div>
</body>

</html>